/* Unitily classes */
body {
  font-family: 'Roboto Slab', serif;
  background: #3B4252 !important;
  min-width: 700px;
}

/* Header */
.navbar {
  background-color: #2E3440;
}

/* Main */
.movies h2,
.tv_shows h2 {
  font-weight: 600;
  color: #DB202B;
}

.list-group-item,
.card {
  background-color: #4C566A !important;
  color: #ECEFF4;
}

.card-body p {
  font-weight: 300;
  font-size: 0.9rem;
  max-height: 100px;
}

/* Scrollbar */
::-webkit-scrollbar {
 width: 6px;
 height: 8px;
}
::-webkit-scrollbar-thumb {
 background: linear-gradient(15deg, #eceff4 30%,#d8dee9 60%);
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(15deg, #eceff4 30%,#d8dee9 60%);
}
::-webkit-scrollbar-track{
 background: #2e3440;
 border-radius: 10px;
 box-shadow: inset -3px 3px 6px #d8dee9;
}
