/* Unitily classes */

/* Header */

/* Main */
main {
  background: #212121;
}

.movies,
.tvShow {
  margin-right: auto;
}

.card-body p {
  max-height: 120px;
}
/* Movies section */

/* TvShow section */
